/*******************************************
                VARIABLES
*******************************************/
/*******************************************
                MIXINS
*******************************************/
/* line 73, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.about-me .bg-me, .about-me .bg-whatido, .about-me .bg-facts {
  background-size: cover;
  background-position: center;
  transition: all 1s; }

/*******************************************
                LAYOUT
*******************************************/
/* line 83, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
html, body {
  color: #383838;
  font-family: 'Lato', Arial;
  font-size: 14px;
  text-rendering: optimizeLegibility; }
  @media (min-width: 768px) {
    /* line 83, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    html, body {
      font-size: 16px; } }

/* line 91, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
::selection {
  background-color: #3498db;
  color: white; }

/* line 95, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
::-moz-selection {
  background-color: #3498db;
  color: white; }

/* line 101, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
h1, h2, h3 {
  font-weight: 300;
  text-transform: uppercase; }

/* line 106, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
h1 {
  color: white;
  font-size: 250%;
  letter-spacing: 0.25rem; }
  @media (min-width: 768px) {
    /* line 106, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    h1 {
      font-weight: 400;
      font-size: 350%;
      white-space: nowrap; } }
  /* line 118, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  h1:after {
    content: ".";
    color: #3498db;
    font-size: 200%;
    margin-left: -5px;
    line-height: 0; }
    @media (min-width: 768px) {
      /* line 118, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
      h1:after {
        font-size: 150%;
        margin-left: 2px; } }

/* line 121, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
h2 {
  font-size: 200%;
  font-weight: 300;
  margin: 2rem 0;
  text-align: center; }
  @media (min-width: 768px) {
    /* line 121, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    h2 {
      font-size: 300%; } }
  /* line 131, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  h2:after {
    display: block;
    content: " ";
    height: 2px;
    width: 6rem;
    background-color: #3498db;
    margin: 15px auto 0 auto; }

/* line 141, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
h3 {
  padding-right: 1rem;
  font-size: 150%;
  margin: 1rem 0; }
  @media (min-width: 768px) {
    /* line 141, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    h3 {
      font-size: 180%; } }

/* line 151, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
h4 {
  font-size: 120%;
  font-weight: 300;
  text-align: center; }
  @media (min-width: 768px) {
    /* line 151, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    h4 {
      font-size: 140%; } }
  /* line 160, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  h4:after {
    display: block;
    content: " ";
    height: 1px;
    width: 3rem;
    background-color: #3498db;
    margin: 10px auto 0 auto; }

/* line 171, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
a:link, a:active, a:hover, a:visited, a:focus {
  outline: 0; }

/* line 176, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
p {
  line-height: 1.75rem;
  font-weight: 300; }
  @media (min-width: 768px) {
    /* line 176, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    p {
      font-size: 120%; } }

/* line 186, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
button {
  background: none;
  border: none;
  outline: 0; }

/* line 192, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
input:focus {
  outline: 0; }

/*******************************************
               REUSABLE
*******************************************/
/* line 201, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.color-main {
  color: #3498db !important; }

@media only screen and (max-width: 768px) {
  /* line 205, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .overlay {
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 100%; } }

/* line 218, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.button {
  background-color: #3498db;
  font-size: 120%;
  padding: 0.4rem 2.5rem;
  text-transform: uppercase;
  transition: all 0.25s; }
  /* line 225, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .button:hover {
    background-color: #2980ba; }
  /* line 229, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .button:focus {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.75); }

/* line 235, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.icon-header {
  background-color: #3498db;
  color: white;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  padding-top: 0.25rem;
  margin-right: 1rem;
  transition: all 1s;
  text-align: center; }

/* line 248, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
section:hover > h3 > .icon-header,
div:hover > h3 > .icon-header {
  -webkit-transform: translateY(-15%) rotate(-10deg) scale(1.15);
  -moz-transform: translateY(-15%) rotate(-10deg) scale(1.15);
  -ms-transform: translateY(-15%) rotate(-10deg) scale(1.15);
  -o-transform: translateY(-15%) rotate(-10deg) scale(1.15);
  transform: translateY(-15%) rotate(-10deg) scale(1.15); }

/* line 253, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.loader-screen {
  position: fixed;
  background-color: #191B1D;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 15; }
  /* line 262, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .loader-screen .loading-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    list-style: none; }
  /* line 268, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .loader-screen .loading-line {
    background-color: white;
    display: inline-block;
    margin: 0 -0.25rem;
    height: 1rem;
    width: 1rem;
    -webkit-animation: loading 0.5s;
    -moz-animation: loading 0.5s;
    animation: loading 0.5s;
    -webkit-animation-direction: alternate-reverse;
    -moz-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }
  /* line 281, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .loader-screen .loading-line:nth-child(1) {
    -webkit-animation-delay: -0.15s;
    -moz-animation-delay: -0.15s;
    animation-delay: -0.15s; }
  /* line 281, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .loader-screen .loading-line:nth-child(2) {
    -webkit-animation-delay: -0.3s;
    -moz-animation-delay: -0.3s;
    animation-delay: -0.3s; }
  /* line 281, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .loader-screen .loading-line:nth-child(3) {
    -webkit-animation-delay: -0.45s;
    -moz-animation-delay: -0.45s;
    animation-delay: -0.45s; }
  /* line 281, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .loader-screen .loading-line:nth-child(4) {
    -webkit-animation-delay: -0.6s;
    -moz-animation-delay: -0.6s;
    animation-delay: -0.6s; }
  /* line 281, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .loader-screen .loading-line:nth-child(5) {
    -webkit-animation-delay: -0.75s;
    -moz-animation-delay: -0.75s;
    animation-delay: -0.75s; }

@-webkit-keyframes loading {
  from {
    -webkit-transform: scale(0.2, 0.25);
    background-color: white; }
  to {
    -webkit-transform: scale(0.1, 2);
    background-color: #3498db; } }

@-moz-keyframes loading {
  from {
    -moz-transform: scale(0.2, 0.25);
    background-color: white; }
  to {
    -moz-transform: scale(0.1, 2);
    background-color: #3498db; } }

@keyframes loading {
  from {
    -webkit-transform: scale(0.2, 0.25);
    -moz-transform: scale(0.2, 0.25);
    -ms-transform: scale(0.2, 0.25);
    -o-transform: scale(0.2, 0.25);
    transform: scale(0.2, 0.25);
    background-color: white; }
  to {
    -webkit-transform: scale(0.1, 2);
    -moz-transform: scale(0.1, 2);
    -ms-transform: scale(0.1, 2);
    -o-transform: scale(0.1, 2);
    transform: scale(0.1, 2);
    background-color: #3498db; } }

@media only screen and (max-width: 768px) {
  /* line 299, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .stop-scrolling {
    height: 100%;
    overflow: hidden; } }

/* line 307, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.dark-container {
  background-color: #191B1D;
  color: white; }

/* line 313, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* line 320, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.tw-caret {
  -webkit-animation: caretFade 0.35s ease;
  -moz-animation: caretFade 0.35s ease;
  animation: caretFade 0.35s ease;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate-reverse;
  -moz-animation-direction: alternate-reverse;
  animation-direction: alternate-reverse; }

@-webkit-keyframes caretFade {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-moz-keyframes caretFade {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes caretFade {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

/*******************************************
               NAVIGATIONS
*******************************************/
/* line 339, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.social-nav {
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  width: 100%;
  z-index: 3; }
  @media (min-width: 768px) {
    /* line 339, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .social-nav {
      position: absolute;
      top: 63%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); } }
  /* line 350, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .social-nav li {
    display: inline-block;
    font-size: 150%;
    margin: 0 0.5rem; }
    /* line 355, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .social-nav li span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    /* line 359, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .social-nav li .social-btn, .social-nav li .social-fb, .social-nav li .social-linkedin, .social-nav li .social-github, .social-nav li .social-email, .social-nav li .social-btn:focus, .social-nav li .social-fb:focus, .social-nav li .social-linkedin:focus, .social-nav li .social-github:focus, .social-nav li .social-email:focus {
      background-color: transparent;
      color: white;
      border: 2px solid white;
      width: 2.5rem;
      height: 2.5rem;
      transition: all 0.25s; }
      /* line 367, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
      .social-nav li .social-btn:hover, .social-nav li .social-fb:hover, .social-nav li .social-linkedin:hover, .social-nav li .social-github:hover, .social-nav li .social-email:hover, .social-nav li .social-btn:focus:hover, .social-nav li .social-fb:focus:hover, .social-nav li .social-linkedin:focus:hover, .social-nav li .social-github:focus:hover, .social-nav li .social-email:focus:hover {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }
    /* line 374, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .social-nav li .social-fb:hover {
      background-color: #3b5998;
      border-color: #3b5998; }
    /* line 382, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .social-nav li .social-linkedin:hover {
      background-color: #007bb5;
      border-color: #007bb5; }
    /* line 390, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .social-nav li .social-github:hover {
      background-color: #333333;
      border-color: #333333; }
    /* line 398, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .social-nav li .social-email:hover {
      background-color: #3498db;
      border-color: #3498db; }

/*******************************************
                HEADER
*******************************************/
/* line 409, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.main-header {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.35)), url(../img/header_bg.jpg) center center;
  background-size: cover;
  box-shadow: inset 0 0.5rem 5rem rgba(0, 0, 0, 0.75);
  height: 100vh;
  padding: 1% 0; }
  /* line 417, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .main-header .navbar.navbar-sticky {
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    position: fixed; }
    /* line 422, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .main-header .navbar.navbar-sticky .nav-link {
      color: #383838; }
  /* line 427, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .main-header .navbar {
    background-color: white;
    border: none !important;
    border-radius: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
    overflow-x: hidden;
    margin-top: -1%;
    position: relative;
    z-index: 5; }
    @media (min-width: 768px) {
      /* line 427, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
      .main-header .navbar {
        background-color: transparent;
        box-shadow: none;
        color: white;
        margin-top: auto; } }
    /* line 445, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .main-header .navbar .logo {
      border: none !important;
      padding-top: 1rem !important; }
      /* line 448, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
      .main-header .navbar .logo:hover {
        color: #383838; }
    /* line 453, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .main-header .navbar .nav-link {
      background-color: transparent;
      border-top: 1px solid #fcfcfc;
      color: #383838;
      font-size: 90%;
      font-weight: 400;
      letter-spacing: 0.05rem;
      padding: 0.75rem;
      text-transform: uppercase;
      transition: color 0.25s; }
      /* line 464, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
      .main-header .navbar .nav-link:hover {
        color: #3498db; }
      @media (min-width: 768px) {
        /* line 453, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
        .main-header .navbar .nav-link {
          border: none;
          color: white; } }
    /* line 474, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .main-header .navbar .nav-toggle-btn {
      border-left: 1px solid #fcfcfc;
      float: right;
      font-size: 215%;
      height: 3.6rem;
      padding: 0 1rem;
      transition: color 0.25s; }
      /* line 482, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
      .main-header .navbar .nav-toggle-btn .nav-open {
        position: absolute; }
      /* line 486, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
      .main-header .navbar .nav-toggle-btn .nav-close {
        opacity: 0; }
      /* line 490, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
      .main-header .navbar .nav-toggle-btn:hover {
        color: #3498db; }
      @media (min-width: 768px) {
        /* line 474, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
        .main-header .navbar .nav-toggle-btn {
          display: none; } }
    /* line 498, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .main-header .navbar ul {
      margin-bottom: 0;
      margin-top: 0; }
      @media (min-width: 768px) {
        /* line 502, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
        .main-header .navbar ul li {
          margin-top: 6px; } }
      /* line 503, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
      .main-header .navbar ul li.active a {
        color: #3498db !important; }
    /* line 506, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .main-header .navbar .collapse, .main-header .navbar .collapsing {
      border: none; }
  /* line 512, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .main-header .welcome-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35); }
    /* line 517, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .main-header .welcome-box h1 {
      opacity: 0; }
      @media (min-width: 768px) {
        /* line 517, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
        .main-header .welcome-box h1 {
          padding-top: 0.5rem; } }
    /* line 525, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .main-header .welcome-box p {
      color: white;
      font-weight: 300;
      font-size: 115%;
      letter-spacing: 0.1rem; }
      @media (min-width: 768px) {
        /* line 525, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
        .main-header .welcome-box p {
          font-size: 150%; } }
  /* line 538, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .main-header .particles-js-canvas-el {
    position: absolute;
    top: 0; }

/*******************************************
                ABOUT ME
*******************************************/
/* line 550, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.about-me section {
  padding: 0 1rem; }
  @media (min-width: 992px) {
    /* line 550, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .about-me section {
      padding: 1rem; } }

/* line 558, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.about-me .feats-row {
  overflow: hidden; }

/* line 562, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.about-me .bg-me {
  background-image: url(../img/yiotis_lgbysea.jpg);
  height: 25rem; }
  @media (min-width: 992px) {
    /* line 562, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .about-me .bg-me {
      height: 30rem;
      margin-bottom: -10rem; } }

/* line 572, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.about-me .bg-whatido {
  background-image: url(../img/what_i_do.jpg);
  height: 25rem;
  margin-bottom: -10rem; }

/* line 579, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.about-me .bg-facts {
  background-image: url(../img/other_facts.jpg);
  height: 28rem;
  margin-bottom: -10rem; }

/* line 586, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.about-me .feat-bg {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.25); }

/* line 591, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.about-me .row:hover .feat-bg {
  -webkit-filter: grayscale(0);
  filter: grayscale(0); }

/* line 597, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.about-me ul li {
  font-weight: 300; }
  @media (min-width: 768px) {
    /* line 597, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .about-me ul li {
      font-size: 120%; } }

/*******************************************
                MY TOOLS
*******************************************/
/* line 610, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.tools-row {
  margin-top: 2rem; }
  @media (min-width: 992px) {
    /* line 610, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .tools-row {
      margin-top: 0; } }

/* line 618, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.tools {
  padding-bottom: 2rem; }
  /* line 621, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .tools .skill-box {
    padding: 0 2.5rem; }
    @media (min-width: 768px) {
      /* line 621, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
      .tools .skill-box {
        margin-top: 1rem;
        padding: 0 2.5rem; } }
    /* line 629, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .tools .skill-box h3 {
      margin: 0;
      white-space: nowrap; }
    /* line 634, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .tools .skill-box p {
      padding: 1rem 0; }
  /* line 640, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .tools .libs-showcase {
    display: none;
    list-style: none;
    margin: 1rem 0 0 0;
    width: 100%;
    margin-left: -20px; }
    @media (min-width: 768px) {
      /* line 640, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
      .tools .libs-showcase {
        display: block; } }
    /* line 651, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .tools .libs-showcase li {
      display: inline-block;
      width: 17.5%;
      float: left; }
    /* line 658, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .tools .libs-showcase li:nth-child(3) {
      width: 30%;
      padding: 1.8rem 0; }
      @media (min-width: 992px) {
        /* line 658, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
        .tools .libs-showcase li:nth-child(3) {
          padding: 2.5rem 0; } }
    /* line 666, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .tools .libs-showcase li:nth-child(4) {
      padding: 1.25rem; }
    /* line 670, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .tools .libs-showcase li:nth-child(5) {
      padding-top: 0.7rem; }
    /* line 674, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .tools .libs-showcase img {
      width: 100%; }
      @media (min-width: 768px) {
        /* line 674, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
        .tools .libs-showcase img {
          padding: 1rem; } }

/*******************************************
                PORTFOLIO
*******************************************/
/* line 689, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.portfolio .portfolio-nav {
  display: block;
  width: 22rem;
  margin: 0 auto;
  text-align: center; }
  @media (min-width: 768px) {
    /* line 689, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .portfolio .portfolio-nav {
      width: 28rem; } }
  /* line 698, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .portfolio .portfolio-nav li {
    border: 1px solid #3498db;
    border-right: 0;
    display: inline-block;
    cursor: pointer;
    margin: 0 !important;
    padding: 0.75rem;
    width: 5.5rem;
    transition: all 0.25s; }
    @media (min-width: 768px) {
      /* line 698, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
      .portfolio .portfolio-nav li {
        width: 7rem; } }
  /* line 717, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .portfolio .portfolio-nav li:last-child {
    border-right: 1px solid #3498db; }
  /* line 721, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .portfolio .portfolio-nav .active-tab, .portfolio .portfolio-nav li:hover {
    background-color: #3498db;
    color: white; }

/* line 728, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.portfolio .showcase-container {
  margin-top: 2rem; }
  /* line 732, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .portfolio .showcase-container .showcase-item {
    color: white;
    font-size: 90%;
    padding: 0 1rem;
    position: relative;
    margin: 1rem 0; }
    @media (min-width: 992px) {
      /* line 732, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
      .portfolio .showcase-container .showcase-item {
        font-size: 100%; } }
    /* line 743, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .portfolio .showcase-container .showcase-item a:link, .portfolio .showcase-container .showcase-item a:active, .portfolio .showcase-container .showcase-item a:hover, .portfolio .showcase-container .showcase-item a:visited {
      color: white; }
    /* line 747, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .portfolio .showcase-container .showcase-item .showcase-img {
      cursor: pointer; }
    /* line 751, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .portfolio .showcase-container .showcase-item .item-desc {
      -webkit-transform: scaleY(0);
      -moz-transform: scaleY(0);
      -ms-transform: scaleY(0);
      -o-transform: scaleY(0);
      transform: scaleY(0);
      background-color: transparent;
      cursor: pointer;
      height: 100%;
      opacity: 0;
      margin-right: 1rem;
      position: absolute;
      padding: 0.5rem;
      transition: all 0.25s;
      top: 0; }
      @media (min-width: 768px) {
        /* line 751, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
        .portfolio .showcase-container .showcase-item .item-desc {
          padding: 1rem; } }
    /* line 768, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
    .portfolio .showcase-container .showcase-item .button {
      position: absolute;
      bottom: 0.5rem;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }
      @media (min-width: 768px) {
        /* line 768, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
        .portfolio .showcase-container .showcase-item .button {
          bottom: auto; } }
  /* line 779, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .portfolio .showcase-container .showcase-item:hover .item-desc {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 1; }

/*******************************************
                CONTACT ME
*******************************************/
/* line 791, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.contact-row {
  margin-top: 2rem; }

/* line 795, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.contact {
  text-align: center; }
  /* line 798, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .contact form .row {
    margin: 1rem; }
  /* line 802, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .contact input, .contact textarea {
    background-color: #202325;
    border: 1px solid #191B1D;
    color: white;
    text-transform: uppercase;
    transition: all 0.25s;
    padding: 0.75rem;
    width: 90%; }
    @media (min-width: 768px) {
      /* line 802, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
      .contact input, .contact textarea {
        width: 60%; } }
  /* line 816, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .contact input:focus, .contact textarea:focus {
    border: 1px solid #3498db; }
  /* line 820, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .contact #form-msg {
    height: 8rem; }

/*******************************************
                FOOTER
*******************************************/
/* line 828, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.footer-main {
  color: #959595;
  font-size: 85%;
  letter-spacing: 0.075rem;
  padding: 0.25rem 0;
  text-align: center; }

/*******************************************
                404 PAGE
*******************************************/
/* line 839, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
.not-found-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35); }
  /* line 842, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
  .not-found-msg p {
    font-size: 120%; }

/*******************************************
                ANIMATIONS
*******************************************/
/* line 852, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
#sass-logo {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  animation-delay: 0.25s; }

/* line 855, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
#jquery-logo {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s; }

/* line 858, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
#bootstrap-logo {
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
  animation-delay: 0.75s; }

/* line 861, F:/Web Design/Websites/My Portfolio/res/css/styles.scss */
#gimp-logo {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }

/*# sourceMappingURL=styles.css.map */