@import 'bourbon/bourbon';

/*******************************************
                VARIABLES
*******************************************/

//colors - site
$colorMain: #3498db;
$colorMainDark: #2980ba;
$colorLightGray: #fcfcfc;
$colorFooter: #959595;
$colorBlack: #383838;
$colorLightBlack: #202325;
$colorDarkBlack: #191B1D;

//colors - media
$colorFb: #3b5998;
$colorGithub: #333;
$colorLinkedin: #007bb5;
$colorYouTube: #bb0000;
$colorGooglePlus: #dd4b39;
$colorTwitter: #00aced;
$colorGithub: #333333;

/*******************************************
                MIXINS
*******************************************/

//media query mixins
$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;

@mixin mq-tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mq-desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mq-large-desktop {
  @media (min-width: #{$large-desktop-width}) {
    @content;
  }
}

//positional mixins
@mixin absolute-center($top:auto, $left:auto) {
    position:absolute;
    top:$top;
    left:$left;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
}

//layout mixins
@mixin afterDot($size: 200%, $leftMargin: 0) {
    content: ".";
    color: $colorMain;
    font-size: $size;
    margin-left: $leftMargin;
    line-height: 0;
    
    @include mq-tablet { font-size: $size - 50; margin-left: $leftMargin + 7; }
}

//placeholders
%featBG {
    background-size: cover;
    background-position: center;
    transition: all 1s;
}

/*******************************************
                LAYOUT
*******************************************/
//generic
html, body {
    color: $colorBlack;
    font-family: 'Lato', Arial;
    font-size: 14px;
    @include mq-tablet { font-size: 16px; }
    text-rendering: optimizeLegibility;
}

::selection {
    background-color: $colorMain;
    color: white;
}
::-moz-selection {
    background-color: $colorMain;
    color: white;
}

//headers (h1-h6)
h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase; 
}

h1 {
    color: white;
    font-size: 300%;
    letter-spacing: 0.25rem;
    
    
    @include mq-tablet {
        font-weight: 400;
        font-size: 350%;
        white-space: nowrap;
    }
    
    &:after { @include afterDot(200%, -5px); }
}

h2 {
    font-size: 300%;
    font-weight: 300;
    margin: 2rem 0;
    text-align: center;
    
    &:after {
        display: block;
        content: " ";
        height: 2px;
        width: 6rem;
        background-color: $colorMain;
        margin: 15px auto 0 auto;
    }
}

h3 {
    padding-right: 1rem;
    font-size: 180%;
    margin: 1rem 0;
}

h4 {
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    
    &:after {
        display: block;
        content: " ";
        height: 1px;
        width: 3rem;
        background-color: $colorMain;
        margin: 10px auto 0 auto;
    }
}

//links
a:link, a:active, a:hover, a:visited, a:focus {
    outline: 0;
}

//paragraphs
p {
    line-height: 1.75rem;
    font-weight: 300;
    font-size: 120%;
}

//input
button {
    background: none;
    border: none;
    outline: 0;
}

input:focus {
    outline: 0;
}

/*******************************************
               REUSABLE
*******************************************/

//components
.color-main { 
    color: $colorMain !important;
}

.overlay {
    @media only screen and (max-width: $tablet-width) {
        background-color: rgba(0, 0, 0, 0.75);
        display: none;
        position: fixed;
        top: 0;
        z-index: 4;
        width: 100%;
        height: 100%;
    }
}

//buttons
.button {
    background-color: $colorMain;
    font-size: 120%;
    padding: 0.4rem 2.5rem;
    text-transform: uppercase;
    transition: all 0.25s;
    
    &:hover {
        background-color: $colorMainDark;
    }
    
    &:focus {
        box-shadow: inset 0 0 5px rgba(0,0,0,0.75);
    }
}

//icons
.icon-header {
    background-color: $colorMain;
    color: white;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    padding-top: 0.25rem;
    margin-right: 1rem;
    transition: all 1s;
    text-align: center;
}

section:hover > h3 > .icon-header,
div:hover > h3 > .icon-header {
    @include transform(translateY(-15%) rotate(-10deg) scale(1.15));
}

//facilities
.stop-scrolling {
    @media only screen and (max-width: $tablet-width) {
        height: 100%;
        overflow: hidden;
    }
}

//containers
.dark-container {
    background-color: $colorDarkBlack;
    color: white;
}

//alignments
.absolute-center {
    @include absolute-center(50%, 50%);
}


//typewriter plugin
//caret animation
.tw-caret {

    @include animation(caretFade 0.35s ease);
    @include animation-iteration-count(infinite);
    @include animation-direction(alternate-reverse);
}

@include keyframes(caretFade) {
  from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/*******************************************
               NAVIGATIONS
*******************************************/
.social-nav {
    @include absolute-center(85%, 50%);
    overflow: hidden;
    text-align: center;
    width: 100%;
    z-index: 3;
    
    @include mq-tablet {
        @include absolute-center(63%, 50%);
    }
    
    li {
        display: inline-block;
        font-size: 150%;
        margin: 0 0.5rem;
        
        span {
            @include absolute-center(50%, 50%);
        }
        
        .social-btn, .social-btn:focus {
            background-color: transparent;
            color: white;
            border: 2px solid white;
            width: 2.5rem;
            height: 2.5rem;
            transition: all 0.25s;
            
            &:hover {
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            }
        }

        .social-fb {
            @extend .social-btn;
            &:hover {
                background-color: $colorFb;
                border-color: $colorFb;
            }
        }
        
        .social-linkedin {
            @extend .social-btn;
            &:hover {
                background-color: $colorLinkedin;
                border-color: $colorLinkedin;
            }
        }
        
        .social-github {
            @extend .social-btn;
            &:hover {
                background-color: $colorGithub;
                border-color: $colorGithub;
            }
        }
        
        .social-email {
            @extend .social-btn;
            &:hover {
                background-color: $colorMain;
                border-color: $colorMain;
            }
        }
    }
}

/*******************************************
                HEADER
*******************************************/
.main-header {
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.35)), url(../img/header_bg.jpg) center center;
    background-size: cover;
    box-shadow: inset 0 0.5rem 5rem rgba(0, 0, 0, 0.75);
    height: 100vh;
    padding: 1% 0;
    
    //Main-navigation
    .navbar.navbar-sticky {
        background-color: white;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
        position: fixed;
        
        .nav-link {
            color: $colorBlack;
        }
    }
    
    .navbar {
        background-color: white;
        border: none !important;
        border-radius: 0;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
        @include animation-duration(0.5s);
        overflow-x: hidden;
        margin-top: -1%;
        position: relative;
        z-index: 5;
        
        @include mq-tablet {
            background-color: transparent;
            box-shadow: none;
            color: white;
            margin-top: auto;
        }
        
        .logo {
            border: none !important;
            padding-top: 1rem !important;
            &:hover {
                color: $colorBlack;
            }
        }
        
        .nav-link {
            background-color: transparent;
            border-top: 1px solid $colorLightGray;
            color: $colorBlack;
            font-size: 90%;
            font-weight: 400;
            letter-spacing: 0.05rem;
            padding: 0.75rem;
            text-transform: uppercase;
            transition: color 0.25s;
            
            &:hover {
                color: $colorMain;
            }
            
            @include mq-tablet { 
                border: none;
                color: white;
            }
        }
        
        .nav-toggle-btn {
            border-left: 1px solid $colorLightGray;
            float: right;
            font-size: 215%;
            height: 3.6rem;
            padding: 0 1rem;
            transition: color 0.25s;
            
            .nav-open {
                position: absolute;
            }
            
            .nav-close {
                opacity: 0;
            }
            
            &:hover {
                color: $colorMain;
            }
            
            @include mq-tablet { display: none; }
        }
        
        //Bootstrap overrides for mobile nav (extended)
        ul {
            margin-bottom: 0;
            margin-top: 0;
            
            li { @include mq-tablet { margin-top: 6px; } }
            li.active a { color: $colorMain !important; } //scrollspy
        }
            
        .collapse, .collapsing {
            border: none;
        }
    }
    
    //Welcome message in header
    .welcome-box {
        @include absolute-center(50%, 50%);
        text-align: center;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35);
        
        h1 {
            opacity: 0;
            padding-top: 0.5rem;
        }
        
        p {
            color: white;
            font-weight: 300;
            font-size: 150%;
            letter-spacing: 0.1rem;
        }
    }
    
    //particles container
    .particles-js-canvas-el {
        position: absolute;
        top: 0;
    }

}

/*******************************************
                ABOUT ME
*******************************************/
.about-me {
    
    section {
        padding: 0 1rem;
        @include mq-desktop {
            padding: 1rem;
        }
    }
    
    //desktop version
    .feats-row {
        overflow: hidden;
    }
    
    .bg-me {
        @extend %featBG;
        background-image: url(../img/yiotis_lgbysea.jpg);
        height: 25rem;
        @include mq-desktop {
            height: 30rem;
            margin-bottom: -10rem;
        }
    }
    
    .bg-whatido {
        @extend %featBG;
        background-image: url(../img/what_i_do.jpg);
        height: 25rem;
        margin-bottom: -10rem;
    }
    
    .bg-facts {
        @extend %featBG;
        background-image: url(../img/other_facts.jpg);
        height: 28rem;
        margin-bottom: -10rem;
    }
    
    .feat-bg {
        @include filter(grayscale(100%));
        box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.25);
    }
    
    .row:hover .feat-bg {
        @include filter(grayscale(0));
    }
    
    //neat facts list
    ul {
        li {
            font-size: 120%;
            font-weight: 300;
        }
    }
}

/*******************************************
                MY TOOLS
*******************************************/
.tools-row {
    margin-top: 2rem;
    
    @include mq-desktop {
        margin-top: 0;
    }
}

.tools {    
    padding-bottom: 2rem;
    
    .skill-box {
        padding: 0 2.5rem;
        
        @include mq-tablet {
            margin-top: 1rem;
            padding: 0 2.5rem;
        }
        
        h3 {
            margin: 0;
            white-space: nowrap;
        }
        
        p {
            padding: 1rem 0;
        }
    }
    
    //Library logos
    .libs-showcase {
        display: none;
        list-style: none;
        margin: 1rem 0 0 0;
        width: 100%;
        margin-left: -20px;
        
        @include mq-tablet {
            display: block;
        }

        li {
            display: inline-block;
            width: 17.5%;
            float: left;
        }
        
        //jQuery logo positioning
        li:nth-child(3) {
            width: 30%;    
            padding: 1.8rem 0;
            @include mq-desktop {
                padding: 2.5rem 0;
            }
        } 
        //Bootstrap logo positioning
        li:nth-child(4) {
            padding: 1.25rem;
        }
        //Gimp logo positioning
        li:nth-child(5) {
            padding-top: 0.7rem;
        }
        
        img {
            width: 100%;
            @include mq-tablet {
                padding: 1rem;
            }
        }
    }
}

/*******************************************
                PORTFOLIO
*******************************************/
.portfolio {
    
    //portfolio navigation
    .portfolio-nav {
        display: block;
        width: 22rem;
        margin: 0 auto;
        text-align: center;
        @include mq-tablet {
            width: 28rem;
        }

        li {
            border: 1px solid $colorMain;
            border-right: 0;
            display: inline-block;
            cursor: pointer;
            margin: 0 !important;
            padding: 0.75rem;
            width: 5.5rem;
            transition: all 0.25s;
            
            @include mq-tablet {
                width: 7rem;
            }

            &:hover {
                @extend .active-tab;
            }
        }

        li:last-child {
            border-right: 1px solid $colorMain;
        }

        .active-tab {
            background-color: $colorMain;
            color: white;
        }
    }
    
    //showcase
    .showcase-container {
        margin-top: 2rem;
        
        //showcase-item component
        .showcase-item {
            color: white;
            font-size: 90%;
            padding: 0 1rem;
            position: relative;
            margin: 1rem 0;
            
            @include mq-desktop {
                font-size: 100%;
            }
            
            a:link, a:active, a:hover, a:visited {
                color: white;
            }
            
            .showcase-img {
                cursor: pointer;
            }
            
            .item-desc {
                @include transform(scaleY(0));
                background-color: transparent;
                cursor: pointer;
                height: 100%;
                opacity: 0;
                margin-right: 1rem;
                position: absolute;
                padding: 0.5rem;
                transition: all 0.25s;
                top: 0;
                
                @include mq-tablet {
                    padding: 1rem;
                }
            }
            
            .button {
                position: absolute;
                bottom: 0.5rem;
                left: 50%;
                @include transform(translateX(-50%));
                
                @include mq-tablet {
                    bottom: auto;
                }
            }
        }
        .showcase-item:hover .item-desc {
            @include transform(scaleY(1));
            background-color: rgba(0, 0, 0, 0.75);
            opacity: 1;
        }
        
    }
}

/*******************************************
                CONTACT ME
*******************************************/
.contact-row {
    margin-top: 2rem;
}

.contact {
    text-align: center;
    
    form .row {
        margin: 1rem;
    }
    
    input, textarea {
        background-color: $colorLightBlack;
        border: 1px solid $colorDarkBlack;
        color: white;
        text-transform: uppercase;
        transition: all 0.25s;
        padding: 0.75rem;
        width: 90%;
        
        @include mq-tablet {
            width: 60%;
        }
    }
    
    input:focus, textarea:focus {
        border: 1px solid $colorMain;
    }
    
    #form-msg {
        height: 8rem;
    }
}

/*******************************************
                FOOTER
*******************************************/
.footer-main {
    color: $colorFooter;
    font-size: 85%;
    letter-spacing: 0.075rem;
    padding: 0.25rem 0;
    text-align: center;
}

/*******************************************
                ANIMATIONS
*******************************************/
#sass-logo {
    @include animation-delay(0.25s);
}
#jquery-logo {
    @include animation-delay(0.5s);
}
#bootstrap-logo {
    @include animation-delay(0.75s);
}
#gimp-logo {
    @include animation-delay(1s);
}