.main-nav {
    background-color: $colorNavBG;
    border-bottom: 1px dashed rgba(244, 156, 18,0.35);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    transition: background-color .5s ease-out;
    z-index: 10;

    @include mq-tablet {
        background-color: transparent;
    }

    //Container
    .container {
        padding: 1rem 1rem 0.5rem 1rem;

        @include mq-tablet {
            padding: 1rem 0 0.5rem 0;
        }
    }

    //Navigation
    ul {
        display: block;
        visibility: hidden;
        transition: visibility .5s ease-out;
        position: absolute;
        left: -2rem;
        top: 4rem;

        @include mq-tablet {
            visibility: visible;
            position: static;
        }

        //Links
        li {
            display: block;
            opacity: 0;
            padding: 0.5rem 0;
            @include transform(translateX(16rem) scale(0));
            transition: all .5s ease-out;
            z-index: 10;

            @include mq-tablet {
                display: inline-block;
                padding: 0;
                opacity: 1;
                @include transform(translateX(0) scale(1));
                transition: none;
            }
        }
        @for $i from 1 through 4 {
            li:nth-child(#{$i}), li.open:nth-child(#{$i}) {
                @include transition-delay(#{$i * 0.05}s);
            }
        }
        //Links open - for mobile navigation transition
        li.open {
            opacity: 1;
            @include transform(translateX(0) scale(1));
        }
    }

    ul.open {
        visibility: visible;
        z-index: 10;
    }

    .overlay {
        @include background(linear-gradient(rgba(23,23,23,1), rgba(0,0,0,0)))
        opacity: 0;
        height: 70vh;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 3.2rem;
        transition: opacity .5s ease-out, visibility .5s ease-out;
        visibility: hidden;
    }

    .overlay.open {
        opacity: 1;
        z-index: 9;
        visibility: visible;
    }

    //Links
    a:link, a:visited {
        color: rgba(255,255,255,0.65);
        font-size: 90%;
        font-weight: 300;
        letter-spacing: 0.15rem;
        text-transform: uppercase;
        text-decoration: none;
        transition: all 0.25s ease-out;
        padding: 1rem;

        &:hover, &:active {
            color: $colorMain;
        }
    }

    //logo
    .nav-logo {
        color: rgba(255,255,255,0.65);
        cursor: pointer;
        font-size: 120%;
        font-weight: 300;
        letter-spacing: 0.25rem;
        text-transform: uppercase;

        i {
            color: $colorMain;
            opacity: 0.5;
            margin-right: 0.25rem;
            transition: opacity 0.25s ease-out;
        }

        &:hover {
            i {
                opacity: 1;
            }
        }
    }

    //Hamburger btn
    .hamburger {
        cursor: pointer;
        width: 2rem;
        height: 1.5rem;
        position: relative;
        @include transform(rotate(0deg));
        transition: .5s ease-in-out;
        z-index: 10;

        span {
            display: block;
            position: absolute;
            height: 0.1rem;
            width: 100%;
            background: rgba(255,255,255,0.65);
            border-radius: 0.1rem;
            opacity: 1;
            left: 0;
            @include transform(rotate(0deg));
            transition: .25s ease-in-out;
        }
        span:nth-child(1) {
            top: 0;
        }
        span:nth-child(2), span:nth-child(3) {
            top: 0.5rem;
        }
        span:nth-child(4) {
            top: 1rem;
        }
    }

    .hamburger.open {
        span:nth-child(1) {
            top: 0.5rem;
            width: 0;
            left: 50%;
        }
        span:nth-child(2) {
            @include transform(rotate(45deg));
        }
        span:nth-child(3) {
            @include transform(rotate(-45deg));
        }
        span:nth-child(4) {
            top: 18px;
            width: 0;
            left: 50%;
        }
    }

}

//Sticky version
.main-nav.sticky {
    background-color: $colorNavBG;
    box-shadow: 0 2px 5px rgba(0,0,0,0.25);
}
