@import 'bourbon/bourbon';
//////////////////////////////////
// MAIN VARIABLES               //
//////////////////////////////////

//colors
$mainColor: #e74c3c;
$darkColor: #d62c1a;
$lightGreyColor: #f4f4f4;
$midGreyColor: #f8f8f8;
$lighterBlackColor: #7b7b7b;
$blackColor: #383838;
$fbColor: #3b5998;
$youtubeColor: #bb0000;
$googlePlusColor: #dd4b39;
$twitterColor: #00aced;

$iconGreenColor: #2ecc71;
$iconBlueColor: #3498db;
$iconOrangeColor: #f39c12;


//query sizes & mixin
$phones-width: 320px;
$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;

@mixin tablet-and-desktop {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: #{$large-desktop-width}) {
    @content;
  }
}

@mixin icon($bgColor, $big: true) {
    background-color: $bgColor;
    color: white;
    border-radius: 50%;
    text-align: center;
    
    @if $big == true {
        display: block;
        width: 60px;
        height: 60px;
        font-size: 150%;
        padding: 10px;
        margin: 15px auto -20px auto;
    } 
    @else {
        display: inline-block;
        width: 30px;
        height: 30px;
        padding: 5px;
        margin: 10px 10px 10px 0;
    }
    
    @include tablet-and-desktop {
        @if $big == true {
            margin-bottom: 20px;
            width: 80px;
            height: 80px;
            padding: 15px;
            font-size: 190%;
        } 
        @else {
            
        }
    }
}

@mixin img-frame($imgUrl) {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(10, 10, 10, 0.65)), url($imgUrl);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 30px 50px rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 60vh;
    @include tablet-and-desktop { 
        background-size: cover;
        height: 100vh; 
    }
    @include large-desktop { background-attachment: fixed; }
}

@mixin quote {
    content: '\201c';
    font-weight: 100;
    position: absolute;
}

//////////////////////////////////
// BASIC SETTINGS               //
//////////////////////////////////
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    &:focus { outline: none; } //for annoying input focus
}

body {
    color: $blackColor;
    font-family: 'Lato', 'Arial';
    font-size: 18px;
    text-rendering: optimizeLegibility;
    font-weight: 300;
    overflow-x: hidden;
    
    @include tablet-and-desktop { font-size: 20px; }
}

.container {
    width: 100%;
}

.row {
    width: 100%;
    margin: 0 auto;

    @include large-desktop { width: 1100px; }    
}

section {
    padding: 25px;
}

//////////////////////////////////
// REUSABLE COMPONENTS          //
//////////////////////////////////

.clearfix { 
    zoom: 1;
    &:after {
        content: '.';
        clear: both;
        display: block;
        height: 0;
        visibility: hidden;
    }
}

h1 {
    font-weight: 100;
    font-size: 180%;
    text-transform: uppercase;            
    @include tablet { font-size: 250%; }
    @include desktop { font-size: 320%; }
}

h2, h3 {
    margin-top: 20px;    
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    padding: 15px;
}

h2 {
    font-size: 178%;
    @include desktop { margin-top: 40px; }
    
    &:after {
        display: block;
        content: " ";
        height: 2px;
        width: 250px;
        background-color: $mainColor;
        margin: 25px auto 0 auto;
    }
}

h3 {
    padding-left: 0;
    padding-right: 0;
    font-size: 114%;
    font-weight: 300;
    @include desktop { margin-top: 10px; }
}

.intro-msg {
    margin: 30px auto 15px auto;
    text-align: justify;
    line-height: 145%;
    @include tablet-and-desktop { width: 60%; }
}

.btn {
    border-radius: 0.5rem;
    color: white;
    text-decoration: none;
    background-color: $mainColor;
    display: inline-block;
    margin: 10px 0 10px 55px;
    padding: 6px 14px;
    border: 2px solid $mainColor;
    box-shadow: 0 2px 5px rgba(18, 18, 18, 0.5);
    @include transition(all 0.25s);
    
    @include tablet-and-desktop {
        padding: 10px 20px;
        margin: 0 25px;
    }
    
    &:hover {
        background-color: $darkColor;
        border-color: $darkColor;
    }
}

.btn-ghost {
    color: $mainColor;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid $mainColor;
    
    &:hover { color: white; }
}

.box {
    padding: 1%;
    margin: 0;
    
    p {
        line-height: 145%;
        font-size: 90%;
    }
}

.blue-big-icon { @include icon($iconBlueColor); }
.red-big-icon { @include icon($mainColor); }
.green-big-icon { @include icon($iconGreenColor); }
.orange-big-icon { @include icon($iconOrangeColor); }

.blue-small-icon { @include icon($iconBlueColor, false); }
.red-small-icon { @include icon($mainColor, false); }
.green-small-icon { @include icon($iconGreenColor, false); }
.orange-small-icon { @include icon($iconOrangeColor, false); }

.red {
    color: $mainColor;
}

.overlay {
    @media only screen and (max-width: $tablet-width) {
        background-color: rgba(0, 0, 0, 0.75);
        display: none;
        position: fixed;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
    }
}

.visible-tablet {
    display: none;
    @include tablet { display: block; }
}

.stop-scrolling {
    @media only screen and (max-width: $tablet-width) {
        height: 100%;
        overflow: hidden;
    }
}

//ugly desktop first media query to change col from responsive grid lib
@media only screen and (max-width: $tablet-width) { .col { width: 100%; } }

//////////////////////////////////
// HEADER SECTION               //
//////////////////////////////////
header {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05)), 
        url(../img/hp_navbg.jpg);
    @include large-desktop { background-attachment: fixed; }
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    box-shadow: inset 0 -10px 50px #000;
    zoom: 1;
    
    //navigation logo
    .nav-logo {
        margin-top: 10px;
        
        img {
            float: left;
            width: 120px;
            height: auto;
            
            @include desktop {
                margin-top: 30px;
                width: 250px;
            }
        }
    }
    
    //main navigation bar
    .navbar {
        position: relative;
        z-index: 15;
        .btn-minify {
            color: white;
            float: right;
            margin-right: 5px;
            font-size: 200%;
            text-align: center;
            height: 50px;
            width: 50px;
            
            &:hover { cursor: pointer; }
            
            @include tablet-and-desktop { display: none; }
        }
    
        ul {
            display: none;
            position: absolute;
            left: 130px;
            
            @include tablet-and-desktop {
                display: block;
                position: static;
            }
            @include tablet {
                margin-top: -15px;
                float: right;
            }
            @include desktop {
                margin-top: 30px;
                float: right;
            }
        }

        li {
            display: block;
            padding: 10px;
            @include tablet-and-desktop {
                display: inline-block;
                padding: 15px;
                margin: 10px 0;
            }
        }

        a:link, a:focus, a:visited {
            border: 2px solid transparent;
            color: white;
            font-size: 90%;
            @include desktop { 
                letter-spacing: 1px;
            }
            padding: 8px 0;
            text-decoration: none;
            text-transform:uppercase;
            @include transition(all 0.2s);
        }

        &:hover {
            a:hover, a:active {
                border-bottom: 2px solid $mainColor;
            }
        }
    }
    
    //sticky navigation bar
    .sticky {
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: 0 3px 3px rgba(149, 149, 149, 0.15);
        position: fixed;
        left: 0;
        width: 100%;
        
        .nav-container { 
            max-width: $large-desktop-width;
            margin: 0 auto;
            position: relative;
            top: -10px;
            @include tablet-and-desktop { top: 0; }
        }
        
        a {
            @include tablet-and-desktop { padding-bottom: 24px !important }
            color: black !important;
        }
        
        .main-nav {
            position: static;
            margin: 0 0 0 115px;
            padding: 0;
        }
        
        span {
            margin-top: 10px;
            padding-right: 5px;
            color: $blackColor !important; 
        }
    }
    
    #black-logo {
        display: none;
        width: 85px;
        height: auto;
        position: absolute;
        top: 10px;
        left: 10px;
        @include desktop { top: -20px; }
    }
    
    //social navigation bar
    .social-nav {
        
        position: absolute;
        top: 23%;
        @include desktop {
            position: static;
        }
        
        span {
            color: white;
            display: block;
            border: 2px solid white;
            font-size: 70%;
            padding: 7px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            text-align: center;
            margin-top: 20px;
            margin-left: 15px;
            
            &:hover {
                cursor: pointer;
            }
            
            @include tablet-and-desktop {
                font-size: 100%;
                padding: 7px;
                width: 40px;
                height: 40px;
            }
            
            @include desktop { 
                margin-top: 10px;
                display: inline-block;
            }
        }
        
        .fb {
            padding: 7px 11px 0 0;
            text-align: right;
            @include transition(all 0.2s);
            
            &:hover {
                background-color: $fbColor;
                border: 2px solid #2a4580;
            }
        }
        .youtube { @include transition(all 0.2s); }
        .twitter { @include transition(all 0.2s); }
        .googleplus { @include transition(all 0.2s); }
        .youtube:hover { background-color: $youtubeColor; border: 2px solid #7e0000; }
        .twitter:hover { background-color: $twitterColor; border: 2px solid #0191c7; }
        .googleplus:hover { background-color: $googlePlusColor; border: 2px solid #a02e20; }
        
    }
    
    //action buttons
    .action-buttons {
        display: none;
        position: absolute;
        text-align: center;
        left: 35%;
        top: 48%;
        @include tablet-and-desktop {
            display: block;
            left: 35%;
            top: 52%;
            @include transform(translate(-35%, -54%));
        }
    }
    
    //quote-box
    .quote-box {
        color: white;
        text-align: right;
        position: absolute;
        bottom: 23%;
        right: 50%;
        @include tablet-and-desktop { right: 40%; }
        @include tablet { bottom: 19%; }
        @include desktop { bottom: 22%; }
        @include transform(translate(50%, 50%));
        
        blockquote {
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
            
            h1 {
                margin-bottom: 5px;
                @include tablet-and-desktop { margin-bottom: 20px; }
                
                &:before {
                    @include quote;
                    font-size: 100%;
                    @include transform(translate(-110%, -10%));
                    @include tablet-and-desktop { font-size: 250%; @include transform(translate(-110%, -30%)); }
                }

                &:after {
                    @include quote;
                    font-size: 100%;
                    @include transform(rotate(180deg) translate(-35%, -25%));
                    @include tablet-and-desktop { font-size: 250%; @include transform(rotate(180deg) translate(-35%, 25%)); }
                }
            }
            
            cite {
                font-size: 80%;
                @include tablet-and-desktop { font-size: 180%; }
            }
        }
        
    }
    
}

//////////////////////////////////
// FEATURES SECTION             //
//////////////////////////////////
.features {
    .span-1-of-4 {
        @include tablet { width: 50%; padding: 0 2.5%; }
        @include desktop { width: 25%; }
    }
}


//////////////////////////////////
// PAST-TRIPS SECTION           //
//////////////////////////////////
.past-trips {
    padding: 0;
    margin: 30px auto 0 auto;
    height: 60vh;
    @include tablet-and-desktop { height: 100vh; }
    
}
.image-slider {
    width: 100%;
    height: 60vh;
    @include tablet-and-desktop { height: 100vh; }
    
    #loading-bar {
        background-image: linear-gradient(#077c07, rgba(96, 217, 96, 0.51));
        box-shadow: 0 2px 2px rgba(0, 108, 37, 0.8);
        visibility: hidden;
        position: absolute;
        left: 0;
        width: 0%;
        height: 5px;
        z-index: 11;
    }
    
    .pick-btn-container {
        margin: 10px auto 0 auto;
        position: absolute;
        z-index: 12;
        left: 50%;
        @include transform(translateX(-50%));
        @include tablet-and-desktop {
            margin-top: 45px;
        }
    }
    .pick-frame-btn {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
        width: 10px;
        height: 10px;
        opacity: 0.4;
        cursor: pointer;
        margin-right: 10px;
        border: 2px solid white;
        border-radius: 50%;
        display: inline-block;
        @include transition(all 0.2s);
        
        @include tablet-and-desktop { 
            border: 3px solid white;
            width: 18px;
            height: 18px;
        }
        @include tablet { margin-right: 29px; }
        @include desktop { margin-right: 50px; }
        
        &:hover {
            background-color: #14c736;
            opacity: 0.75;
        }
    }
    .active {
        background-color: #14c736;
        opacity: 0.75;
    }
    
    .frame-whales { 
        @include img-frame("../img/hp_diving_whales.jpg");
        z-index: 8;
    }
    .frame-freefalling {
        @include img-frame("../img/hp_freefalling.jpg");
        z-index: 7;
    }
    .frame-rafting {
        @include img-frame("../img/hp_rafting.jpg");
        z-index: 6;
    }
    .frame-rainforest {
        @include img-frame("../img/hp_rainforest.jpg");
        z-index: 5;
    }
    .frame-safari-one {
        @include img-frame("../img/hp_safari.jpeg");
        z-index: 4;
    }
    .frame-safari-two {
        @include img-frame("../img/hp_safari2.jpg");
        z-index: 3;
    }
    .frame-skiing {
        @include img-frame("../img/hp_skiing.jpg");
        z-index: 2;
    }
    .frame-mountain-climbing {
        @include img-frame("../img/hp_mountain_climbing.jpg");
        z-index: 1;
    }
    
    div {
        color: white;
        
        .pic-description {
            margin-left: 20px;
            left: 50%;
            @include transform(translateX(-50%));
            bottom: 5%;
            position: absolute;
            z-index: 12;
            width: 80%;
            
            h1 {
                @media only screen and (max-width: $tablet-width - 1) { font-size: 110%; }
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.96);
            }
            p {
                margin-top: -20px;
                font-size: 90%;
                font-weight: 300;
                line-height: 160%;
                padding: 10px;
            }
            @include tablet-and-desktop { p { font-size: 130%; } }
            @include desktop { bottom: 10%; }
        }
    }
}

//////////////////////////////////
// BOOK-TRIPS SECTION           //
//////////////////////////////////
.book-trips {
    background-color: $lightGreyColor;
    padding-bottom: 35px;
    @include tablet-and-desktop { padding-bottom: 50px;}
    
    .span-1-of-4 {
        width: 100%;
        padding: 1%;
        margin: 0;
        
        @include tablet {
            width: 50%;
        }
        
        @include desktop {
            width: 25%;
        }
        
    }
    
    .holiday-plan {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.15);
        
        h3 {
            font-size: 120%;
            margin-top: 0;
            background-color: $midGreyColor;
        }
        
        p {
            padding: 3px 15px;
            font-size: 80%;
            &:nth-child(odd) { background-color: white; }
        }
    }
    
    .book {
        font-size: 120%;
        text-align: center;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin: 0;
        padding: 10px 0;
        width: 100%;
    }
    
    .ghost {
        background-color: white;
        color: $mainColor;
        border: 1px solid white;
        @include transition(all 0.2s);
        
        &:hover {
            background-color: $mainColor;
            color: white;
            border: 1px solid $mainColor;
        }
    }
    
    .planimg-wrapper {
        margin-top: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 200px;
        overflow: hidden;
        
        #tokyo-img {
            margin-top: -220px;
            @include tablet-and-desktop {
                margin-top: -50px;
                margin-left: -150px;
            }
        }
        #arctic-img {
            margin-left: -150px;
            @include desktop { margin-left: -280px; }
            width: 880px;
            height: auto;
        }
        #sahara-img {
            @include desktop { margin-left: -250px; }
        }
        #swamp-img { 
            @include desktop { margin-left: -250px; }
        }
        
        @include tablet-and-desktop { 
            height: 450px;
            margin-top: 40px;
        }
    }
}

//////////////////////////////////
// TESTIMONIALS SECTION         //
//////////////////////////////////
.testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.65)), url(../img/testimonials_bg.jpg);
    background-attachment: scroll;
    @include large-desktop { background-attachment: fixed; }
    background-size: cover;
    background-position: center center;
    box-shadow: inset 0 -10px 50px #000;
    color: white;
    padding-bottom: 40px;
    @include tablet-and-desktop { padding-bottom: 60px; }
    
    h2 {
        margin-bottom: 30px;
        @include tablet-and-desktop { margin-bottom: 60px; }
    }
    
    blockquote {
        font-size: 90%;
        font-style: italic;
        line-height: 160%;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 0 10%;
        &:before {
            @include quote;
            @include tablet-and-desktop {
                font-size: 550%;
                @include transform(translate(-110%, -45%));
            }
        }
        
        cite {
            display: block;
            margin-top: 10px;
            
            img {
                margin: 15px 15px 0 0;
                border-radius: 50%;
                height: 64px;
                width: 60px;
            }
            
            span {
                position: absolute;
                margin-top: 38px;
            }
        }
    }
}

//////////////////////////////////
// CONTACT SECTION              //
//////////////////////////////////
.contact {
    padding: 0;
    position: relative;
    
    .row { width: 100%; }
    
    h2 {
        margin-bottom: -50px;
        @include desktop { margin-bottom: 0; }
    }
    
    .contact-box {
            
        @include desktop {
            background-color: rgba(255, 255, 255, 0.85);
            position: absolute;
            
            height: 100%;
            width: 20rem;
            z-index: 1;
        }

        #locations {
            p {
                text-align: center;
                line-height: 180%;
                margin: 0 auto;
            }
        }

        #newsletter {
            text-align: center;

            input {
                box-shadow: none;
                padding: 10px;
                display: block;
                text-align: center;
                margin: 0.75rem auto;
            }
            
            .btn {
                margin: 0.5rem auto 1.25rem auto;
                @include tablet-and-desktop { margin-bottom: 0; }
            }
        }
    }
    
    .map-box {
        margin: 30px 0 0 0;
        
        @include tablet-and-desktop {
            width: 100%;
            position: relative;
        }

        #gmaps {
            width: 100%;
            height: 20rem;
            @include tablet-and-desktop { height: 27.2rem; }
            @include tablet { margin-top: 30px; }
            
            margin: 0;
            padding: 0;
            
            @include desktop {
                position: relative;
                z-index: 0;
            }
        }
    } 
}

//////////////////////////////////
// FOOTER SECTION               //
//////////////////////////////////
footer {
    display: block;
    background-color: $blackColor;
    color: $lighterBlackColor;
    font-size: 80%;
    padding: 1rem;
    @include tablet-and-desktop { padding: 2rem; padding-bottom: 1rem; }
    
    a {
        @include transition(all 0.2s);
        text-decoration: none;
        padding-bottom: 3px;
        border-bottom: 1px solid transparent;
        &:link, &:visited { color: $lighterBlackColor; }
        &:hover, &:active { color: white; border-bottom: 1px solid white; }
    }
    
    .footer-nav {
        ul {
            list-style: none; 
            display: block; 
            text-align: center;
            @include tablet-and-desktop { float: left; }
        }
        li {
            display: inline-block;
        }
    }
    
    .footer-social {
        font-size: 120%;
        color: $lighterBlackColor;
        text-align: center;
        margin-top: 20px;
        
        @include tablet-and-desktop { margin-top: 0; float: right; }
        a { border: none; }
        span {
            display: inline-block;
            width: 25px;
            text-align: center;
            margin: 0 8px;
        }
    }
    
    #copyright {
        background-color: $blackColor;
        margin-top: 22px;
        @include tablet-and-desktop { margin-top: 50px; }
        padding-bottom: 10px;
        text-align: center;
    }
}

//////////////////////////////////
// ANIMATIONS SECTION           //
//////////////////////////////////
.to-fade-in { opacity: 0; }
.to-fade-in.animated { opacity: 1; }