/* line 116, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  /* line 121, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  *:focus {
    outline: none; }

/* line 124, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
body {
  color: #383838;
  font-family: 'Lato', 'Arial';
  font-size: 18px;
  text-rendering: optimizeLegibility;
  font-weight: 300;
  overflow-x: hidden; }
  @media (min-width: 768px) {
    /* line 124, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    body {
      font-size: 20px; } }

/* line 135, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
.container {
  width: 100%; }

/* line 139, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
.row {
  width: 100%;
  margin: 0 auto; }
  @media (min-width: 1200px) {
    /* line 139, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .row {
      width: 1100px; } }

/* line 146, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
section {
  padding: 25px; }

/* line 154, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
.clearfix {
  zoom: 1; }
  /* line 156, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden; }

/* line 165, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
h1 {
  font-weight: 100;
  font-size: 180%;
  text-transform: uppercase; }
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 165, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    h1 {
      font-size: 250%; } }
  @media (min-width: 992px) {
    /* line 165, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    h1 {
      font-size: 320%; } }

/* line 173, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
h2, h3 {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  padding: 15px; }

/* line 181, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
h2 {
  font-size: 178%; }
  @media (min-width: 992px) {
    /* line 181, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    h2 {
      margin-top: 40px; } }
  /* line 185, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  h2:after {
    display: block;
    content: " ";
    height: 2px;
    width: 250px;
    background-color: #e74c3c;
    margin: 25px auto 0 auto; }

/* line 195, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
h3 {
  padding-left: 0;
  padding-right: 0;
  font-size: 114%;
  font-weight: 300; }
  @media (min-width: 992px) {
    /* line 195, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    h3 {
      margin-top: 10px; } }

/* line 203, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
.intro-msg {
  margin: 30px auto 15px auto;
  text-align: justify;
  line-height: 145%; }
  @media (min-width: 768px) {
    /* line 203, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .intro-msg {
      width: 60%; } }

/* line 210, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
.btn {
  border-radius: 0.5rem;
  color: white;
  text-decoration: none;
  background-color: #e74c3c;
  display: inline-block;
  margin: 10px 0 10px 55px;
  padding: 6px 14px;
  border: 2px solid #e74c3c;
  box-shadow: 0 2px 5px rgba(18, 18, 18, 0.5);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s; }
  @media (min-width: 768px) {
    /* line 210, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .btn {
      padding: 10px 20px;
      margin: 0 25px; } }
  /* line 227, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .btn:hover {
    background-color: #d62c1a;
    border-color: #d62c1a; }

/* line 233, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
.btn-ghost {
  color: #e74c3c;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #e74c3c; }
  /* line 239, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .btn-ghost:hover {
    color: white; }

/* line 242, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
.box {
  padding: 1%;
  margin: 0; }
  /* line 246, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .box p {
    line-height: 145%;
    font-size: 90%; }

/* line 252, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
.blue-big-icon {
  background-color: #3498db;
  color: white;
  border-radius: 50%;
  text-align: center;
  display: block;
  width: 60px;
  height: 60px;
  font-size: 150%;
  padding: 10px;
  margin: 15px auto -20px auto; }
  @media (min-width: 768px) {
    /* line 252, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .blue-big-icon {
      margin-bottom: 20px;
      width: 80px;
      height: 80px;
      padding: 15px;
      font-size: 190%; } }

/* line 253, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
.red-big-icon {
  background-color: #e74c3c;
  color: white;
  border-radius: 50%;
  text-align: center;
  display: block;
  width: 60px;
  height: 60px;
  font-size: 150%;
  padding: 10px;
  margin: 15px auto -20px auto; }
  @media (min-width: 768px) {
    /* line 253, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .red-big-icon {
      margin-bottom: 20px;
      width: 80px;
      height: 80px;
      padding: 15px;
      font-size: 190%; } }

/* line 254, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
.green-big-icon {
  background-color: #2ecc71;
  color: white;
  border-radius: 50%;
  text-align: center;
  display: block;
  width: 60px;
  height: 60px;
  font-size: 150%;
  padding: 10px;
  margin: 15px auto -20px auto; }
  @media (min-width: 768px) {
    /* line 254, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .green-big-icon {
      margin-bottom: 20px;
      width: 80px;
      height: 80px;
      padding: 15px;
      font-size: 190%; } }

/* line 255, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
.orange-big-icon {
  background-color: #f39c12;
  color: white;
  border-radius: 50%;
  text-align: center;
  display: block;
  width: 60px;
  height: 60px;
  font-size: 150%;
  padding: 10px;
  margin: 15px auto -20px auto; }
  @media (min-width: 768px) {
    /* line 255, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .orange-big-icon {
      margin-bottom: 20px;
      width: 80px;
      height: 80px;
      padding: 15px;
      font-size: 190%; } }

/* line 257, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
.blue-small-icon {
  background-color: #3498db;
  color: white;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 10px 10px 10px 0; }

/* line 258, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
.red-small-icon {
  background-color: #e74c3c;
  color: white;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 10px 10px 10px 0; }

/* line 259, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
.green-small-icon {
  background-color: #2ecc71;
  color: white;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 10px 10px 10px 0; }

/* line 260, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
.orange-small-icon {
  background-color: #f39c12;
  color: white;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 10px 10px 10px 0; }

/* line 262, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
.red {
  color: #e74c3c; }

@media only screen and (max-width: 768px) {
  /* line 266, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .overlay {
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%; } }

/* line 278, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
.visible-tablet {
  display: none; }
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 278, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .visible-tablet {
      display: block; } }

@media only screen and (max-width: 768px) {
  /* line 283, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .stop-scrolling {
    height: 100%;
    overflow: hidden; } }

@media only screen and (max-width: 768px) {
  /* line 291, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .col {
    width: 100%; } }

/* line 296, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05)), url(../img/hp_navbg.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  box-shadow: inset 0 -10px 50px #000;
  zoom: 1; }
  @media (min-width: 1200px) {
    /* line 296, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    header {
      background-attachment: fixed; } }
  /* line 309, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  header .nav-logo {
    margin-top: 10px; }
    /* line 312, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    header .nav-logo img {
      float: left;
      width: 120px;
      height: auto; }
      @media (min-width: 992px) {
        /* line 312, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
        header .nav-logo img {
          margin-top: 30px;
          width: 250px; } }
  /* line 325, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  header .navbar {
    position: relative;
    z-index: 15; }
    /* line 328, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    header .navbar .btn-minify {
      color: white;
      float: right;
      margin-right: 5px;
      font-size: 200%;
      text-align: center;
      height: 50px;
      width: 50px; }
      /* line 337, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      header .navbar .btn-minify:hover {
        cursor: pointer; }
      @media (min-width: 768px) {
        /* line 328, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
        header .navbar .btn-minify {
          display: none; } }
    /* line 342, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    header .navbar ul {
      display: none;
      position: absolute;
      left: 130px; }
      @media (min-width: 768px) {
        /* line 342, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
        header .navbar ul {
          display: block;
          position: static; } }
      @media (min-width: 768px) and (max-width: 991px) {
        /* line 342, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
        header .navbar ul {
          margin-top: -15px;
          float: right; } }
      @media (min-width: 992px) {
        /* line 342, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
        header .navbar ul {
          margin-top: 30px;
          float: right; } }
    /* line 361, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    header .navbar li {
      display: block;
      padding: 10px; }
      @media (min-width: 768px) {
        /* line 361, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
        header .navbar li {
          display: inline-block;
          padding: 15px;
          margin: 10px 0; } }
    /* line 371, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    header .navbar a:link, header .navbar a:focus, header .navbar a:visited {
      border: 2px solid transparent;
      color: white;
      font-size: 90%;
      padding: 8px 0;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s; }
      @media (min-width: 992px) {
        /* line 371, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
        header .navbar a:link, header .navbar a:focus, header .navbar a:visited {
          letter-spacing: 1px; } }
    /* line 385, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    header .navbar:hover a:hover, header .navbar:hover a:active {
      border-bottom: 2px solid #e74c3c; }
  /* line 392, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  header .sticky {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 3px 3px rgba(149, 149, 149, 0.15);
    position: fixed;
    left: 0;
    width: 100%; }
    /* line 399, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    header .sticky .nav-container {
      max-width: 1200px;
      margin: 0 auto;
      position: relative;
      top: -10px; }
      @media (min-width: 768px) {
        /* line 399, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
        header .sticky .nav-container {
          top: 0; } }
    /* line 407, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    header .sticky a {
      color: black !important; }
      @media (min-width: 768px) {
        /* line 407, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
        header .sticky a {
          padding-bottom: 24px !important; } }
    /* line 412, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    header .sticky .main-nav {
      position: static;
      margin: 0 0 0 115px;
      padding: 0; }
    /* line 418, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    header .sticky span {
      margin-top: 10px;
      padding-right: 5px;
      color: #383838 !important; }
  /* line 425, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  header #black-logo {
    display: none;
    width: 85px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px; }
    @media (min-width: 992px) {
      /* line 425, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      header #black-logo {
        top: -20px; } }
  /* line 436, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  header .social-nav {
    position: absolute;
    top: 23%; }
    @media (min-width: 992px) {
      /* line 436, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      header .social-nav {
        position: static; } }
    /* line 444, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    header .social-nav span {
      color: white;
      display: block;
      border: 2px solid white;
      font-size: 70%;
      padding: 7px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      text-align: center;
      margin-top: 20px;
      margin-left: 15px; }
      /* line 457, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      header .social-nav span:hover {
        cursor: pointer; }
      @media (min-width: 768px) {
        /* line 444, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
        header .social-nav span {
          font-size: 100%;
          padding: 7px;
          width: 40px;
          height: 40px; } }
      @media (min-width: 992px) {
        /* line 444, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
        header .social-nav span {
          margin-top: 10px;
          display: inline-block; } }
    /* line 474, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    header .social-nav .fb {
      padding: 7px 11px 0 0;
      text-align: right;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s; }
      /* line 479, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      header .social-nav .fb:hover {
        background-color: #3b5998;
        border: 2px solid #2a4580; }
    /* line 484, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    header .social-nav .youtube {
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s; }
    /* line 485, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    header .social-nav .twitter {
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s; }
    /* line 486, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    header .social-nav .googleplus {
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s; }
    /* line 487, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    header .social-nav .youtube:hover {
      background-color: #bb0000;
      border: 2px solid #7e0000; }
    /* line 488, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    header .social-nav .twitter:hover {
      background-color: #00aced;
      border: 2px solid #0191c7; }
    /* line 489, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    header .social-nav .googleplus:hover {
      background-color: #dd4b39;
      border: 2px solid #a02e20; }
  /* line 494, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  header .action-buttons {
    display: none;
    position: absolute;
    text-align: center;
    left: 35%;
    top: 48%; }
    @media (min-width: 768px) {
      /* line 494, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      header .action-buttons {
        display: block;
        left: 35%;
        top: 52%;
        -webkit-transform: translate(-35%, -54%);
        -moz-transform: translate(-35%, -54%);
        -ms-transform: translate(-35%, -54%);
        -o-transform: translate(-35%, -54%);
        transform: translate(-35%, -54%); } }
  /* line 509, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  header .quote-box {
    color: white;
    text-align: right;
    position: absolute;
    bottom: 23%;
    right: 50%;
    -webkit-transform: translate(50%, 50%);
    -moz-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    -o-transform: translate(50%, 50%);
    transform: translate(50%, 50%); }
    @media (min-width: 768px) {
      /* line 509, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      header .quote-box {
        right: 40%; } }
    @media (min-width: 768px) and (max-width: 991px) {
      /* line 509, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      header .quote-box {
        bottom: 19%; } }
    @media (min-width: 992px) {
      /* line 509, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      header .quote-box {
        bottom: 22%; } }
    /* line 520, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    header .quote-box blockquote {
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5); }
      /* line 523, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      header .quote-box blockquote h1 {
        margin-bottom: 5px; }
        @media (min-width: 768px) {
          /* line 523, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
          header .quote-box blockquote h1 {
            margin-bottom: 20px; } }
        /* line 527, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
        header .quote-box blockquote h1:before {
          content: '\201c';
          font-weight: 100;
          position: absolute;
          font-size: 100%;
          -webkit-transform: translate(-110%, -10%);
          -moz-transform: translate(-110%, -10%);
          -ms-transform: translate(-110%, -10%);
          -o-transform: translate(-110%, -10%);
          transform: translate(-110%, -10%); }
          @media (min-width: 768px) {
            /* line 527, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
            header .quote-box blockquote h1:before {
              font-size: 250%;
              -webkit-transform: translate(-110%, -30%);
              -moz-transform: translate(-110%, -30%);
              -ms-transform: translate(-110%, -30%);
              -o-transform: translate(-110%, -30%);
              transform: translate(-110%, -30%); } }
        /* line 534, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
        header .quote-box blockquote h1:after {
          content: '\201c';
          font-weight: 100;
          position: absolute;
          font-size: 100%;
          -webkit-transform: rotate(180deg) translate(-35%, -25%);
          -moz-transform: rotate(180deg) translate(-35%, -25%);
          -ms-transform: rotate(180deg) translate(-35%, -25%);
          -o-transform: rotate(180deg) translate(-35%, -25%);
          transform: rotate(180deg) translate(-35%, -25%); }
          @media (min-width: 768px) {
            /* line 534, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
            header .quote-box blockquote h1:after {
              font-size: 250%;
              -webkit-transform: rotate(180deg) translate(-35%, 25%);
              -moz-transform: rotate(180deg) translate(-35%, 25%);
              -ms-transform: rotate(180deg) translate(-35%, 25%);
              -o-transform: rotate(180deg) translate(-35%, 25%);
              transform: rotate(180deg) translate(-35%, 25%); } }
      /* line 542, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      header .quote-box blockquote cite {
        font-size: 80%; }
        @media (min-width: 768px) {
          /* line 542, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
          header .quote-box blockquote cite {
            font-size: 180%; } }

@media (min-width: 768px) and (max-width: 991px) {
  /* line 556, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .features .span-1-of-4 {
    width: 50%;
    padding: 0 2.5%; } }

@media (min-width: 992px) {
  /* line 556, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .features .span-1-of-4 {
    width: 25%; } }

/* line 566, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
.past-trips {
  padding: 0;
  margin: 30px auto 0 auto;
  height: 60vh; }
  @media (min-width: 768px) {
    /* line 566, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .past-trips {
      height: 100vh; } }

/* line 573, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
.image-slider {
  width: 100%;
  height: 60vh; }
  @media (min-width: 768px) {
    /* line 573, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .image-slider {
      height: 100vh; } }
  /* line 578, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .image-slider #loading-bar {
    background-image: linear-gradient(#077c07, rgba(96, 217, 96, 0.51));
    box-shadow: 0 2px 2px rgba(0, 108, 37, 0.8);
    visibility: hidden;
    position: absolute;
    left: 0;
    width: 0%;
    height: 5px;
    z-index: 11; }
  /* line 589, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .image-slider .pick-btn-container {
    margin: 10px auto 0 auto;
    position: absolute;
    z-index: 12;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
    @media (min-width: 768px) {
      /* line 589, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .image-slider .pick-btn-container {
        margin-top: 45px; } }
  /* line 599, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .image-slider .pick-frame-btn {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    width: 10px;
    height: 10px;
    opacity: 0.4;
    cursor: pointer;
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; }
    @media (min-width: 768px) {
      /* line 599, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .image-slider .pick-frame-btn {
        border: 3px solid white;
        width: 18px;
        height: 18px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      /* line 599, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .image-slider .pick-frame-btn {
        margin-right: 29px; } }
    @media (min-width: 992px) {
      /* line 599, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .image-slider .pick-frame-btn {
        margin-right: 50px; } }
    /* line 619, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .image-slider .pick-frame-btn:hover {
      background-color: #14c736;
      opacity: 0.75; }
  /* line 624, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .image-slider .active {
    background-color: #14c736;
    opacity: 0.75; }
  /* line 629, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .image-slider .frame-whales {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(10, 10, 10, 0.65)), url("../img/hp_diving_whales.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 30px 50px rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 60vh;
    z-index: 8; }
    @media (min-width: 768px) {
      /* line 629, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .image-slider .frame-whales {
        background-size: cover;
        height: 100vh; } }
    @media (min-width: 1200px) {
      /* line 629, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .image-slider .frame-whales {
        background-attachment: fixed; } }
  /* line 633, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .image-slider .frame-freefalling {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(10, 10, 10, 0.65)), url("../img/hp_freefalling.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 30px 50px rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 60vh;
    z-index: 7; }
    @media (min-width: 768px) {
      /* line 633, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .image-slider .frame-freefalling {
        background-size: cover;
        height: 100vh; } }
    @media (min-width: 1200px) {
      /* line 633, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .image-slider .frame-freefalling {
        background-attachment: fixed; } }
  /* line 637, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .image-slider .frame-rafting {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(10, 10, 10, 0.65)), url("../img/hp_rafting.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 30px 50px rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 60vh;
    z-index: 6; }
    @media (min-width: 768px) {
      /* line 637, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .image-slider .frame-rafting {
        background-size: cover;
        height: 100vh; } }
    @media (min-width: 1200px) {
      /* line 637, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .image-slider .frame-rafting {
        background-attachment: fixed; } }
  /* line 641, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .image-slider .frame-rainforest {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(10, 10, 10, 0.65)), url("../img/hp_rainforest.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 30px 50px rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 60vh;
    z-index: 5; }
    @media (min-width: 768px) {
      /* line 641, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .image-slider .frame-rainforest {
        background-size: cover;
        height: 100vh; } }
    @media (min-width: 1200px) {
      /* line 641, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .image-slider .frame-rainforest {
        background-attachment: fixed; } }
  /* line 645, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .image-slider .frame-safari-one {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(10, 10, 10, 0.65)), url("../img/hp_safari.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 30px 50px rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 60vh;
    z-index: 4; }
    @media (min-width: 768px) {
      /* line 645, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .image-slider .frame-safari-one {
        background-size: cover;
        height: 100vh; } }
    @media (min-width: 1200px) {
      /* line 645, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .image-slider .frame-safari-one {
        background-attachment: fixed; } }
  /* line 649, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .image-slider .frame-safari-two {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(10, 10, 10, 0.65)), url("../img/hp_safari2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 30px 50px rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 60vh;
    z-index: 3; }
    @media (min-width: 768px) {
      /* line 649, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .image-slider .frame-safari-two {
        background-size: cover;
        height: 100vh; } }
    @media (min-width: 1200px) {
      /* line 649, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .image-slider .frame-safari-two {
        background-attachment: fixed; } }
  /* line 653, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .image-slider .frame-skiing {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(10, 10, 10, 0.65)), url("../img/hp_skiing.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 30px 50px rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 60vh;
    z-index: 2; }
    @media (min-width: 768px) {
      /* line 653, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .image-slider .frame-skiing {
        background-size: cover;
        height: 100vh; } }
    @media (min-width: 1200px) {
      /* line 653, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .image-slider .frame-skiing {
        background-attachment: fixed; } }
  /* line 657, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .image-slider .frame-mountain-climbing {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(10, 10, 10, 0.65)), url("../img/hp_mountain_climbing.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 30px 50px rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 60vh;
    z-index: 1; }
    @media (min-width: 768px) {
      /* line 657, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .image-slider .frame-mountain-climbing {
        background-size: cover;
        height: 100vh; } }
    @media (min-width: 1200px) {
      /* line 657, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .image-slider .frame-mountain-climbing {
        background-attachment: fixed; } }
  /* line 662, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .image-slider div {
    color: white; }
    /* line 665, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .image-slider div .pic-description {
      margin-left: 20px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 5%;
      position: absolute;
      z-index: 12;
      width: 80%; }
      /* line 674, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .image-slider div .pic-description h1 {
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.96); }
        @media only screen and (max-width: 767px) {
          /* line 674, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
          .image-slider div .pic-description h1 {
            font-size: 110%; } }
      /* line 678, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .image-slider div .pic-description p {
        margin-top: -20px;
        font-size: 90%;
        font-weight: 300;
        line-height: 160%;
        padding: 10px; }
      @media (min-width: 768px) {
        /* line 685, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
        .image-slider div .pic-description p {
          font-size: 130%; } }
      @media (min-width: 992px) {
        /* line 665, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
        .image-slider div .pic-description {
          bottom: 10%; } }

/* line 694, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
.book-trips {
  background-color: #f4f4f4;
  padding-bottom: 35px; }
  @media (min-width: 768px) {
    /* line 694, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .book-trips {
      padding-bottom: 50px; } }
  /* line 699, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .book-trips .span-1-of-4 {
    width: 100%;
    padding: 1%;
    margin: 0; }
    @media (min-width: 768px) and (max-width: 991px) {
      /* line 699, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .book-trips .span-1-of-4 {
        width: 50%; } }
    @media (min-width: 992px) {
      /* line 699, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .book-trips .span-1-of-4 {
        width: 25%; } }
  /* line 714, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .book-trips .holiday-plan {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.15); }
    /* line 719, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .book-trips .holiday-plan h3 {
      font-size: 120%;
      margin-top: 0;
      background-color: #f8f8f8; }
    /* line 725, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .book-trips .holiday-plan p {
      padding: 3px 15px;
      font-size: 80%; }
      /* line 728, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .book-trips .holiday-plan p:nth-child(odd) {
        background-color: white; }
  /* line 732, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .book-trips .book {
    font-size: 120%;
    text-align: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0;
    padding: 10px 0;
    width: 100%; }
  /* line 744, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .book-trips .ghost {
    background-color: white;
    color: #e74c3c;
    border: 1px solid white;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; }
    /* line 750, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .book-trips .ghost:hover {
      background-color: #e74c3c;
      color: white;
      border: 1px solid #e74c3c; }
  /* line 757, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .book-trips .planimg-wrapper {
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 200px;
    overflow: hidden; }
    /* line 764, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .book-trips .planimg-wrapper #tokyo-img {
      margin-top: -220px; }
      @media (min-width: 768px) {
        /* line 764, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
        .book-trips .planimg-wrapper #tokyo-img {
          margin-top: -50px;
          margin-left: -150px; } }
    /* line 771, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .book-trips .planimg-wrapper #arctic-img {
      margin-left: -150px;
      width: 880px;
      height: auto; }
      @media (min-width: 992px) {
        /* line 771, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
        .book-trips .planimg-wrapper #arctic-img {
          margin-left: -280px; } }
    @media (min-width: 992px) {
      /* line 777, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .book-trips .planimg-wrapper #sahara-img {
        margin-left: -250px; } }
    @media (min-width: 992px) {
      /* line 780, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .book-trips .planimg-wrapper #swamp-img {
        margin-left: -250px; } }
    @media (min-width: 768px) {
      /* line 757, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .book-trips .planimg-wrapper {
        height: 450px;
        margin-top: 40px; } }

/* line 794, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
.testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.65)), url(../img/testimonials_bg.jpg);
  background-attachment: scroll;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 -10px 50px #000;
  color: white;
  padding-bottom: 40px; }
  @media (min-width: 1200px) {
    /* line 794, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .testimonials {
      background-attachment: fixed; } }
  @media (min-width: 768px) {
    /* line 794, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .testimonials {
      padding-bottom: 60px; } }
  /* line 805, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .testimonials h2 {
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      /* line 805, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .testimonials h2 {
        margin-bottom: 60px; } }
  /* line 810, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .testimonials blockquote {
    font-size: 90%;
    font-style: italic;
    line-height: 160%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 10%; }
    /* line 817, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .testimonials blockquote:before {
      content: '\201c';
      font-weight: 100;
      position: absolute; }
      @media (min-width: 768px) {
        /* line 817, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
        .testimonials blockquote:before {
          font-size: 550%;
          -webkit-transform: translate(-110%, -45%);
          -moz-transform: translate(-110%, -45%);
          -ms-transform: translate(-110%, -45%);
          -o-transform: translate(-110%, -45%);
          transform: translate(-110%, -45%); } }
    /* line 825, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .testimonials blockquote cite {
      display: block;
      margin-top: 10px; }
      /* line 829, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .testimonials blockquote cite img {
        margin: 15px 15px 0 0;
        border-radius: 50%;
        height: 64px;
        width: 60px; }
      /* line 836, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .testimonials blockquote cite span {
        position: absolute;
        margin-top: 38px; }

/* line 847, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
.contact {
  padding: 0;
  position: relative; }
  /* line 851, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .contact .row {
    width: 100%; }
  /* line 853, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .contact h2 {
    margin-bottom: -50px; }
    @media (min-width: 992px) {
      /* line 853, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .contact h2 {
        margin-bottom: 0; } }
  @media (min-width: 992px) {
    /* line 858, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .contact .contact-box {
      background-color: rgba(255, 255, 255, 0.85);
      position: absolute;
      height: 100%;
      width: 20rem;
      z-index: 1; } }
  /* line 870, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .contact .contact-box #locations p {
    text-align: center;
    line-height: 180%;
    margin: 0 auto; }
  /* line 877, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .contact .contact-box #newsletter {
    text-align: center; }
    /* line 880, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .contact .contact-box #newsletter input {
      box-shadow: none;
      padding: 10px;
      display: block;
      text-align: center;
      margin: 0.75rem auto; }
    /* line 888, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .contact .contact-box #newsletter .btn {
      margin: 0.5rem auto 1.25rem auto; }
      @media (min-width: 768px) {
        /* line 888, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
        .contact .contact-box #newsletter .btn {
          margin-bottom: 0; } }
  /* line 895, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  .contact .map-box {
    margin: 30px 0 0 0; }
    @media (min-width: 768px) {
      /* line 895, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      .contact .map-box {
        width: 100%;
        position: relative; } }
    /* line 903, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    .contact .map-box #gmaps {
      width: 100%;
      height: 20rem;
      margin: 0;
      padding: 0; }
      @media (min-width: 768px) {
        /* line 903, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
        .contact .map-box #gmaps {
          height: 27.2rem; } }
      @media (min-width: 768px) and (max-width: 991px) {
        /* line 903, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
        .contact .map-box #gmaps {
          margin-top: 30px; } }
      @media (min-width: 992px) {
        /* line 903, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
        .contact .map-box #gmaps {
          position: relative;
          z-index: 0; } }

/* line 923, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
footer {
  display: block;
  background-color: #383838;
  color: #7b7b7b;
  font-size: 80%;
  padding: 1rem; }
  @media (min-width: 768px) {
    /* line 923, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    footer {
      padding: 2rem;
      padding-bottom: 1rem; } }
  /* line 931, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  footer a {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid transparent; }
    /* line 936, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    footer a:link, footer a:visited {
      color: #7b7b7b; }
    /* line 937, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    footer a:hover, footer a:active {
      color: white;
      border-bottom: 1px solid white; }
  /* line 941, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  footer .footer-nav ul {
    list-style: none;
    display: block;
    text-align: center; }
    @media (min-width: 768px) {
      /* line 941, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      footer .footer-nav ul {
        float: left; } }
  /* line 947, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  footer .footer-nav li {
    display: inline-block; }
  /* line 952, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  footer .footer-social {
    font-size: 120%;
    color: #7b7b7b;
    text-align: center;
    margin-top: 20px; }
    @media (min-width: 768px) {
      /* line 952, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      footer .footer-social {
        margin-top: 0;
        float: right; } }
    /* line 959, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    footer .footer-social a {
      border: none; }
    /* line 960, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
    footer .footer-social span {
      display: inline-block;
      width: 25px;
      text-align: center;
      margin: 0 8px; }
  /* line 968, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
  footer #copyright {
    background-color: #383838;
    margin-top: 22px;
    padding-bottom: 10px;
    text-align: center; }
    @media (min-width: 768px) {
      /* line 968, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
      footer #copyright {
        margin-top: 50px; } }

/* line 980, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
.to-fade-in {
  opacity: 0; }

/* line 981, F:/Web Design/Websites/Portfolio Showcase/xtremetravel/resources/css/styles.scss */
.to-fade-in.animated {
  opacity: 1; }

/*# sourceMappingURL=styles.css.map */