body, html {
    color: $colorBlack;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;

    @include mq-tablet {
        font-size: 16px;
    }
}

//headings
h1,h2,h3 {
    margin: 0;
    padding: 0;
    font-weight: 300;
    text-transform: uppercase;
}
h1 {
    font-size: 240%;
    text-transform: uppercase;
}

//input
input, button, textarea, a:focus {
    outline: 0;
}

//sections
.about-me, .contact, .main-footer {
    padding: 4rem 0;

    @include mq-tablet {
        padding: 6rem 0;
    }
}
