.no-scroll {
    overflow: hidden;
}

//Colors & Text
.main-color {
    color: $colorMain;
}

.text-glowing {
    text-shadow: 0 0 5px $colorMain;
}

//Headings
//underlined heading
.underlined {
    text-align: center;
    position: relative;
}
.underlined:after {
    content: '';
    background-color: $colorMain;
    display: block;
    width: 100px;
    height: 2px;
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    @include transform(translateX(-50%));
}
//Skewed box heading
.box-h {
    background-color: $colorMain;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.25);
    color: white;
    text-align: center;
    padding: 1rem 2rem;
    position: relative;
    width: 20rem;
}

//Backgrounds
.lightblack-section {
    background-color: $colorBlackLight;
}

//Links
.main-link:link, .main-link:visited {
    color: white;
    border-bottom: 1px dashed transparent;
    text-decoration: none;
    transition: all .25s ease-out;

    &:hover, &:active {
        color: $colorMain;
        border-bottom: 1px dashed $colorMain;
    }
}

a.active {
    color: $colorMain !important;
}
