
//colors - site
$colorMain: #e67e22;
$colorMainDark: #bf6516;
$colorLightGray: #f9f9f9;
$colorBlack: #171717;
$colorBlackLight: #201f1f;
$colorMainBlack: rgb(27, 18, 1);

//colors - navigation
$colorNavBG: rgba(17, 11, 0, 0.65);

//colors - media
$colorFb: #3b5998;
$colorGithub: #333;
$colorLinkedin: #007bb5;
$colorYouTube: #bb0000;
$colorGooglePlus: #dd4b39;
$colorTwitter: #00aced;
$colorGithub: #333333;

//Media queries
$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;
$xlarge-desktop-width: 1600px;
