.contact {
    color: white;
    text-align: right;

    h1 {
        margin-bottom: 4rem;
    }

    .contact-details {
        opacity: 0;
        padding-top: .5rem;

        i {
            color: $colorMain;
            margin-right: 0.75rem;
        }

        .row {
            margin-bottom: 1rem;
        }
    }

    .contact-form {
        .row {
            margin-bottom: .5rem;
            padding: 0 1rem;
        }
    }

    #name, #email, #message {
        border: 1px solid #121212;
        background-color: $colorBlack;
        font-size: 90%;
        margin: 0.25rem 0;
        padding: 0.75rem;
        width: 100%;
        text-transform: uppercase;
        transition: border .5s ease-out;

        &:focus {
            border: 1px dashed $colorMain;
        }
    }

    #message {
        resize: none;
    }
}
